In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import copy
%matplotlib inline
from sklearn import preprocessing

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus']=False

In [4]:
temp201904 = pd.read_csv("/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/비씨카드/거래내역_201904.csv", sep=",", encoding="CP949")
temp201905 = pd.read_csv("/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/비씨카드/거래내역_201905.csv", sep=",", encoding="CP949")
temp202004 = pd.read_csv("/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/비씨카드/거래내역_202004.csv", sep=",", encoding="CP949")
temp202005 = pd.read_csv("/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/비씨카드/거래내역_202005.csv", sep=",", encoding="CP949")

job = pd.read_csv("/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/비씨카드/공통코드.csv", sep=",", encoding="CP949")

In [5]:
# 2019년 4월 데이터에 16일까지 밖에 없어서 2020년 4월 17일 이상 드롭
drop_date = temp202004[temp202004['기준일자'] >= 20200417].index.tolist()
temp202004.drop(drop_date,axis = 0,inplace = True)

In [6]:
# 2019년 5월 데이터에 14일까지 밖에 없어서 2020년 5월 15일 이상 드롭
drop_date = temp202005[temp202005['기준일자'] >= 20200515].index.tolist()
temp202005.drop(drop_date,axis = 0,inplace = True)

### 201904~202005 까지의 데이터는 갯수를 맞춰서 잘라준 듯하다.

### 기본적인 NaN값, 중복값 조회 및 수정

In [7]:
temp201904.drop(['할부개월수'],axis = 1,inplace = True)
temp201905.drop(['할부개월수'],axis = 1,inplace = True)

# 매출금액 예상
> 기대효과 : 매출금액 예출 높은 사람에게 더 좋은 카드, 더 좋은 혜택을 통해 기존 회원들의 이탈을 방지할 수 있음.

> 2019년의 데이터를 이용해 2020년의 데이터를 예측할 예정

> 19년도 매출금액을 7등급으로 나누고 replace

> 해당 데이터 내에서 train,test 로 나눠 정확도 값 확인

> 적절한 정확도가 나오면 이후 20년도 에 적용

> 같은 feature 들로 20년도 데이터에도 정확도 확인

In [8]:
temp_19 = pd.concat((temp201904,temp201905), axis = 0)
temp_20 = pd.concat((temp202004,temp202005), axis = 0)

In [9]:
temp_19.reset_index(drop=True,inplace = True)
temp_20.reset_index(drop=True,inplace = True)

In [10]:
sex = {'M':0,"F":1}
temp_19.replace(sex, inplace = True)
temp_20.replace(sex, inplace = True)

### 19년도 카드데이터에서 중복값 확인

In [11]:
temp_19.loc[temp_19.duplicated(subset=temp_19.columns)]

,기준일자,가맹점신우편번호,고객신우편번호,생년,연령대코드,성별코드,매출구분코드,가맹점업종코드,매출금액
26113,20190401,8393,12104,1977,40,1,5,4076,187735
26120,20190401,8393,12910,1972,45,0,5,4076,317530
26121,20190401,8393,12910,1977,40,1,5,4076,289392
26122,20190401,8393,12910,1981,35,1,5,4076,283328
26126,20190401,6654,62281,1997,20,0,5,9998,13190
...,...,...,...,...,...,...,...,...,...
2097131,20190514,13606,14600,1958,60,1,5,9153,101500
2097133,20190514,13606,14600,1966,50,0,5,9153,84990
2097134,20190514,13606,14600,1967,50,1,5,9153,90473
2097139,20190514,13606,14613,1974,45,0,5,9153,35254
2097141,20190514,13606,14613,1979,40,0,5,9153,70040

In [12]:
temp_19.iloc[26113]

기준일자        20190401
가맹점신우편번호        8393
고객신우편번호        12104
생년              1977
연령대코드             40
성별코드               1
매출구분코드             5
가맹점업종코드         4076
매출금액          187735
Name: 26113, dtype: int64

In [13]:
temp_19.loc[(temp_19[temp_19.columns[0]]==20190401) & (temp_19[temp_19.columns[1]]==8393)  & (temp_19[temp_19.columns[2]]==12104)  & (temp_19[temp_19.columns[3]]==1977)  & (temp_19[temp_19.columns[4]]==40)  & (temp_19[temp_19.columns[5]]==0)  & (temp_19[temp_19.columns[6]]==5)  & (temp_19[temp_19.columns[7]]==4076)  & (temp_19[temp_19.columns[8]]==187735)]

Empty DataFrame
Columns: [기준일자, 가맹점신우편번호, 고객신우편번호, 생년, 연령대코드, 성별코드, 매출구분코드, 가맹점업종코드, 매출금액]
Index: []

## 중복데이터가 2097150개 중에서 394268개가 발견됨

#### feature 들의 모든 값이 일치할 수 있는 확률이 존재하지만 그럼에도 불구하고 18.8%, 거의 20%에 달하는 데이터가 중복된다는 건 맞춰주기 위해 의도적으로 늘려 놓은 것으로 확인됨

In [14]:
temp_19.drop_duplicates(inplace= True)

In [15]:
temp_19.reset_index(drop=True,inplace = True)

In [16]:
temp_19

,기준일자,가맹점신우편번호,고객신우편번호,생년,연령대코드,성별코드,매출구분코드,가맹점업종코드,매출금액
0,20190401,6654,14688,1995,25,0,5,9998,128180
1,20190401,6654,14688,1998,20,1,5,9998,14620
2,20190401,6654,14697,1999,20,0,5,9998,32000
3,20190401,6654,14699,1960,60,1,5,9998,17588
4,20190401,6654,14699,1990,30,1,5,9998,41463
...,...,...,...,...,...,...,...,...,...
1702877,20190514,13606,14619,1976,40,1,5,9153,103467
1702878,20190514,13606,14620,1964,55,1,5,9153,106097
1702879,20190514,13606,14621,1958,60,1,5,9153,70097
1702880,20190514,13606,14633,1994,25,1,5,9153,196167
1702881,20190514,13606,14636,1991,25,0,5,9153,169020

#### 2020년 데이터에는 중복값이 하나도 발견되지 않음. 2019년데이터를 2020년 데이터에 맞춰주기 위해 의도적으로 늘린 것 같다는 의심이 거의 확실시됨

In [17]:
temp_20.loc[temp_20.duplicated(subset=temp_20.columns)]

Empty DataFrame
Columns: [기준일자, 가맹점신우편번호, 고객신우편번호, 생년, 연령대코드, 성별코드, 매출구분코드, 가맹점업종코드, 할부개월수, 매출금액]
Index: []

# 유동인구 데이터 추가해주기

In [18]:
move_1904 = pd.read_csv('/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/케이티/유동인구일집계_201904.csv',sep = ',',encoding='CP949')
move_1905 = pd.read_csv('/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/케이티/유동인구일집계_201905.csv',sep = ',',encoding='CP949')
move_2004 = pd.read_csv('/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/케이티/유동인구일집계_202004.csv',sep = ',',encoding='CP949')
move_2005 = pd.read_csv('/Users/jaeyoungcho/Desktop/2020 금융 빅데이터 챌린지-공모전데이터/데이터/케이티/유동인구일집계_202005.csv',sep = ',',encoding='CP949')

In [19]:
move_1904.drop(move_1904[move_1904['기준일자'] >= 20190417].index.tolist(),axis = 0,inplace = True)
move_1905.drop(move_1905[move_1905['기준일자'] >= 20190515].index.tolist(),axis = 0,inplace = True)
move_2004.drop(move_2004[move_2004['기준일자'] >= 20200417].index.tolist(),axis = 0,inplace = True)
move_2005.drop(move_2005[move_2005['기준일자'] >= 20200515].index.tolist(),axis = 0,inplace = True)

In [20]:
move_19 = pd.concat((move_1904,move_1905),axis = 0)
move_20 = pd.concat((move_2004,move_2005),axis = 0)

move_19.reset_index(drop=True,inplace = True)
move_20.reset_index(drop=True,inplace = True)

move_19['연령대구분값'] = move_19['연령대구분값'].apply(lambda x: int(str(x)[-2:]))
move_20['연령대구분값'] = move_20['연령대구분값'].apply(lambda x: int(str(x)[-2:]))

In [21]:
# 유동인구의 연령대구분값과 카드데이터의 연령대구분값이 다르다. 카드데이터에 맞출 것이기 때문에 유동인구 0~10 drop

print(sorted(move_19['연령대구분값'].unique()))

print(sorted(temp_19['연령대코드'].unique()))

[0, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

In [22]:
move_19.drop(move_19[move_19['연령대구분값'] <= 10].index , axis = 0 ,inplace = True)

move_19[move_19['연령대구분값'] == 0]

move_19.drop(['24시간코드'],axis = 1,inplace = True)

move_19.rename(columns={'연령대구분값':'연령대코드'},inplace = True)

move_19.replace({'M':0,"F":1},inplace = True)

move_19.drop_duplicates(inplace = True)

move_19.reset_index(drop = True,inplace = True)

In [23]:
move_20.drop(move_20[move_20['연령대구분값'] <= 10].index , axis = 0 ,inplace = True)

move_20[move_20['연령대구분값'] == 0]

move_20.drop(['24시간코드'],axis = 1,inplace = True)

move_20.rename(columns={'연령대구분값':'연령대코드'},inplace = True)

move_20.replace({'M':0,"F":1},inplace = True)

move_20.drop_duplicates(inplace = True)

move_20.reset_index(drop = True,inplace = True)

In [24]:
# 기준일자, 성별, 연령대에 따른 인구수 평균을 계산해줬다
move_19 = pd.DataFrame(move_19.groupby(['기준일자','성별코드','연령대코드'])['인구수'].mean())
move_19.reset_index(inplace = True)

move_20 = pd.DataFrame(move_20.groupby(['기준일자','성별코드','연령대코드'])['인구수'].mean())
move_20.reset_index(inplace = True)

In [41]:
# card 데이터에 합쳐버리기~
card_19 = pd.merge(temp_19,move_19,on = ['기준일자','연령대코드','성별코드'])
card_20 = pd.merge(temp_20,move_20,on = ['기준일자','연령대코드','성별코드'])

In [42]:
card_19['기준일자'] = card_19['기준일자'].apply(lambda x : x % 10000)
card_20['기준일자'] = card_20['기준일자'].apply(lambda x : x % 10000)

In [43]:
card_19.rename(columns = {'매출금액':'19매출금액','인구수':'유동인구'},inplace = True)

card_20.rename(columns = {'매출금액':'20매출금액','인구수':'유동인구'},inplace = True)

In [44]:
card_20.drop(['할부개월수'],axis = 1,inplace = True)
card_20.drop(['유동인구'],axis = 1,inplace = True)

In [45]:
card_19.drop(['가맹점신우편번호'],axis = 1, inplace = True)
card_20.drop(['가맹점신우편번호'],axis = 1, inplace = True)

In [46]:
card_20

         기준일자  고객신우편번호    생년  연령대코드  성별코드  매출구분코드  가맹점업종코드  20매출금액
0         401    46993  1966     55     1       5     4076   43733
1         401    15292  1965     55     1       9     8006   10710
2         401    13586  1962     55     1       5     4020   21493
3         401    15540  1965     55     1       5     9998   19550
4         401     5698  1962     55     1       5     7041    5300
...       ...      ...   ...    ...   ...     ...      ...     ...
1557521   514     8228  1942     70     1       5     9998     300
1557522   514     5649  1948     70     1       5     9998     300
1557523   514     7319  1950     70     1       5     9998     300
1557524   514    63585  1940     70     1       9     1123    4667
1557525   514     7344  1950     70     1       5     4020    9877

[1557526 rows x 8 columns]

In [47]:
clustering = sorted(card_20['20매출금액'].tolist())
clustering = np.array(clustering)
from sklearn.cluster import KMeans
km = KMeans(n_clusters=10).fit(clustering.reshape(-1,1))

In [48]:
cluster = {}
for i in range(len(clustering)):
    cluster[clustering[i]] = km.labels_[i]

In [54]:
cluster = pd.DataFrame(km.labels_,index=sorted(card_20['20매출금액'].tolist()))

In [55]:
cluster.reset_index(inplace = True)

In [56]:
cluster.rename(columns={'index':'20매출금액'},inplace = True)

In [ ]:
card_20 = pd.merge(card_20,cluster,on = '20매출금액')

In [ ]:
card_20

In [ ]:
card = pd.merge(card_19,card_20, on = ['기준일자','고객신우편번호','생년','연령대코드','성별코드','매출구분코드','가맹점업종코드'])

In [ ]:
card

In [ ]:
# 최종 모양
card['20매출금액'].tolist()

In [ ]:
X,y = [card[card.columns[:-1]],card[card.columns[-1]]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.1,random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor().fit(X_train,y_train)

In [ ]:
rf.score(X_test,y_test)

In [ ]:
rf.feature_importances_

In [ ]:
plt.barh(X.columns.tolist(),rf.feature_importances_)

In [ ]:
card

In [ ]:
X,y = [card[card.columns[:-1]],card[card.columns[-1]]]

In [ ]:
from sklearn.model_selection import cross_valid_score
cross_valid_score(rf,X,y,cv = 5)